node_modules
dist/
.env
.env.dev
.env.production
.env.local
.env.*.local
.aws-sam
.serverless
.build
.dynamodb
.terraform
.terragrunt-cache
terraform.tfstate
terraform.tfstate.backup
*.tfplan
.DS_Store
*.log
.vscode/
.idea/
